{% extends "base.html" %}
{% block title %}Panel{% endblock %}
{% block content %}
<h1>Panel</h1>
{% with total_images_created=request.user.images_created.count %}
<p>Bienvenido a tu panel. Has guardado {{ total_images_created }} im{{ total_images_created|pluralize:"agen,ágenes" }}.
</p>
{% endwith %}
<p>Arrastra el siguiente botón a tu barra de marcadores para guardar imágenes desde otros sitios web → <a
                href="javascript:{% include "bookmarklet_launcher.js" %}" class="button">Guardar imagen</a></p>
<p>También puedes <a href="{% url "edit" %}">editar tu perfil</a> o <a href="{% url "password_change" %}">cambiar tu
                contraseña</a>.</p>

 <h2>Qué está pasando</h2>
 <div id="action-list">
    {% for action in actions %}
      {% include "actions/action/detail.html" %}
    {% endfor %}
 </div>
{% endblock %}
